
*.vsidx


GitKrakenApp/.vs/GitKrakenApp/FileContentIndex/d84c89ab-99a7-486f-9d4e-d49a03ee2ee1.vsidx

GitKrakenApp/.vs/GitKrakenApp/v17/.suo

GitKrakenApp/obj/Debug/net6.0/GitKrakenApp.pdb

*.pdb

*.dll

*.cache
